trunk/uBookMessage.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT uBookMessage (book*, server*)>
<!ATTLIST uBookMessage
    version CDATA   #REQUIRED
    from    CDATA   #REQUIRED
>
<!ELEMENT server EMPTY>
<!ATTLIST server
    url     CDATA   #REQUIRED
>
<!ELEMENT book EMPTY>
<!ATTLIST book
    url    CDATA   #REQUIRED
    author CDATA   #IMPLIED
    title  CDATA   #REQUIRED
    price  CDATA   #IMPLIED
>
